*{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #F9F9F9;
    position: relative;
}

.character-page-front{
    height: 40em;
    display: flex;
    justify-content: center;
    background-color: gray;
    position: relative;
    z-index: -2;
}

.character-title{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.character-title h1{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: rgba(255,255,255, 0.9);
}

.character-title-background{
    position: absolute;
    background-image: url("../Asset/Characters/Emblems/Emblem_Element_black.png");
    height: inherit;
    background-size: contain;
    background-position: 0em 1.5em;
    height: 100%;
}

.mondstadt{
    height: auto;
}

.mondstadt-title-bar{
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: #947044;
    border-width: 0.2vw 0vw 0vw 0vw;
    border-style: solid;
    padding: 1vw 0vw;
}

.mondstadt-title-bar-line{
    padding-left: 4vw;
}

.mondstadt-title-bar-line hr{
    width: 50vw;
    color: #947044;
    border-style: solid;
}

.mondstadt-title-bar-emblem{
    padding-left: 2vw;
    width: auto;
}

.mondstadt-title-bar-emblem img{
    width: 7vw;
}

.mondstadt-title-bar-text{
    padding-left: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    color: rgba(255,255,255, 0.8);
}

.mondstadt-title-bar-image{
    position: absolute;
    top: -90%;
    z-index: -10;
}

.liyue{
    height: auto;
}

.liyue-title-bar{
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: #947044;
    border-width: 0.2vw 0vw 0vw 0vw;
    border-style: solid;
    padding: 1vw 0vw;
}

.liyue-title-bar-line{
    padding-left: 4vw;
}

.liyue-title-bar-line hr{
    width: 45vw;
    color: #947044;
    border-style: solid;
}

.liyue-title-bar-emblem{
    padding-left: 2vw;
    width: auto;
}

.liyue-title-bar-emblem img{
    width: 8vw;
}

.liyue-title-bar-text{
    padding-left: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    color: rgba(255,255,255, 0.8);
}

.liyue-title-bar-image{
    position: absolute;
    top: -90%;
    z-index: -10;
}

.character{
    padding: 4em 0em;
    height: auto;
    background-color: #F2EDE3;
    border-color: #947044;
    border-width: 1vw 0vw 0vw 0vw;
    border-style: double;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.character-card{
    width: 20%;
    margin: 0% 1.5%;
}

.character-image{
    width:100%;
    position: relative;
}

.character-image img{
    width: 100%;
    position: relative;
} 

.character-name{
    position: absolute;
    width: 100%;
    height: 12%;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255, 0.9);
    font-size: 2.6vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .character-page-front{
        max-height: 75vw;
    }

    /* .character-title-background{
        max-height: 75vw;
    } */

    .mondstadt-title-bar{
        flex-direction: column;
        padding: 3vh 0;
        border-width: 0.5vh 0 0.5vh 0;
    }

    .mondstadt-title-bar-line {
        visibility: hidden;
    }

    .mondstadt-title-bar-image{
        top: 0%;
    }

    .mondstadt-title-bar-emblem img{
        width: 20vw;
        height: auto;
        margin-bottom: 3vh;
    }

    .mondstadt-title-bar-text{
        font-size: 8vw;
        text-align: center;
        font-weight: 500;
    }

    .liyue-title-bar{
        flex-direction: column;
        padding: 3vh 0;
        border-width: 0.5vh 0 0.5vh 0;
    }

    .liyue-title-bar-line {
        visibility: hidden;
    }

    .liyue-title-bar-image{
        top: -10%;

    }

    .liyue-title-bar-emblem img{
        width: 20vw;
        height: auto;
        margin-bottom: 3vh;
    }

    .liyue-title-bar-text{
        width: 99%;
        font-size: 8vw;
        text-align: center;
        font-weight: 500;
    }

    .character{
        flex-direction: column;
        padding: 2vh 0;
    }

    .character-card{
        width: 50%;
        margin: 5vh 0;
    }

    .character-name{
        font-size: 7vw;
    }

}