*{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #F9F9F9;
    position: relative;
}

.gallery-bg{
    background-image: url("../Asset/gallery/top-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 56vw;
    color: white;
}

.bg-black{
    background-color: rgba(0, 0, 0, 0.69);
    height: 56vw;
}

.gallery-top{
    text-align: center;
    padding-top: 24vw;
    font-size: 4vw;
}

.ss{
    height: 102vw;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ss-title{
    padding-top: 1vw;
    padding-bottom: 5vw;
}

.title-text{
    background-color: #F2EDE3;
    border-color: #947044;
    border-width: 0.75vw 0.75vw 0.75vw 0.75vw;
    border-style: double;
    width: 97vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 4.5vw;
    color: black;
}

.row{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col{
    display: inline-block;
    height: 27vw;
    width: 45vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 3vw;
    vertical-align: text-top;
    transition: transform 0.5s;
}

.col:hover{
    transform: translateY(-0.8vw);
}

#gallery1{
    background-image: url("../Asset/gallery/ss1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery2{
    background-image: url("../Asset/gallery/ss2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery3{
    background-image: url("../Asset/gallery/ss3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery4{
    background-image: url("../Asset/gallery/ss4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery5{
    background-image: url("../Asset/gallery/ss5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery6{
    background-image: url("../Asset/gallery/ss6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black2{
    background-color: rgba(0, 0, 0, 1);
    height: 27vw;
    width: 45vw;
    opacity: 11.5%;
    transition: 0.5s;
}

.bg-black2:hover{
    opacity: 0%;
}

@media screen and (max-width: 800px){
    .gallery-top{
        text-align: center;
        padding-top: 24vw;
        font-size: 6vw;
    }

    .ss{
        height: 365vw;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .ss-title{
        padding-top: 1vw;
        padding-bottom: 7vw;
    }

    .title-text{
        background-color: #F2EDE3;
        border-color: #947044;
        border-width: 0.75vw 0.75vw 0.75vw 0.75vw;
        border-style: double;
        width: 97vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 5vw;
        color: black;
    }
    
    .row{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .col{
        height: 52vw;
        width: 87vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        margin-bottom: 6vw;
        vertical-align: text-top;
        transition: transform 0.5s;
    }

    .bg-black2{
        background-color: rgba(0, 0, 0, 1);
        height: 52vw;
        width: 87vw;
        opacity: 18%;
        transition: 0.5s;
    }

    .bg-black2:hover{
        opacity: 0%;
    }
}