header{
    width: 100%;
}

.header-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
}

.header-items a{
    width: auto;
}

.header-logo{
    width: 10vw;
    margin-left: 4vw;
}

.hamnav-logo{
    font-size: 5vw;
    right: 5vw;
    margin-right: 4vw;
    color: white;
    width: auto;
    cursor: context-menu;
}

#hamnav-toggle{
    opacity: 0;
    position: fixed;
    width: 4.5vw;
    height: 5vw;
    z-index: 15;
    top: 1vw;
    right: 3vw;
    color: white;
}

nav{
    visibility: hidden;
    z-index: 7;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transform: translateY(-150%);
    transition: all 0.5s;
}

nav a{
    padding: 1.5vw 0;
    height: 100%;
    width: 100%;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 1px 0;
    text-align: center;
    text-decoration: none;
    color: lightgray;
    font-size: 2.2vw;
}

nav a:hover{
    background-image: linear-gradient(to right, rgba(0 , 0, 0, 0.0) ,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

nav a:first-child{
    border-width: 0px 0px 1px 0px;
}

nav a:last-child{
    border-width: 1px 0px 0px 0px;
}

.nav-item-active{
    color: white;
    text-shadow: 0 0 2px white;
}

@media screen and (min-width: 1025px){
    .dropdown-nav:hover nav{
        visibility: visible;
        transform: translateY(0%);
        z-index: 5;
    }
}

@media screen and (max-width: 1024px){
    .header-items{
        padding: 1vw 0;
    }

    #hamnav-toggle{
        visibility: visible;
        width: 10vw;
        height: 10vw;
    }

    #hamnav-toggle:checked + nav{
        visibility: visible;
        transform: translateY(0%);
        z-index: 5;
    }

    .header-logo{
        width: 22vw;
    }

    .hamnav-logo{
        font-size: 9vw;
    }

    nav{
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
    }

    nav a{
        height: auto;
        padding: 4vw 0;
        font-size: 6vw;
    }
}