*{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

a{
    color: black;
}

body{
    width: 100vw;
    background-color: #F2EDE3;
    position: relative;
}

.first-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.first-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    z-index: 3;
}

.slider-outer{
    width: 100vw;
    overflow: hidden;
}

.slider-inner{
    display: flex;
    position: relative;
}

.slider-item{
    display: flex;
    position: relative;
}

.slider-item > img{
    width: 100vw;
    max-height: 100vh;
    z-index: 1;
}

.slider-item > div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0 , 0, 0, 0.9) ,rgba(0, 0, 0, 0.9),  rgba(255, 0, 0, 0));
    z-index: 2;
    color: #f2f2f2;
}

.slider-item > div > div{
    position: relative;
    width: 50%;
    height: 100%;
}

.slider-item > div > div > div{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    text-align: center;
    flex-wrap: wrap;
}

#left-arrow{
    background-color: transparent;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 10%;
    height: 5vw;
    font-size: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    color: #f2f2f2;
}

#right-arrow{
    background-color: transparent;
    position: absolute;
    right: 0;
    width: 10%;
    height: 5vw;
    font-size: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
    color: #f2f2f2;
}

.slider-icon-container{
    position: absolute;
    bottom: 0;
    height: auto;
    z-index: 10;
    text-align: center;
    width: auto;
}

.slider-icon{
    font-size: 9vw;
    height: auto;
    display: inline;
    color: gray;
    cursor: pointer;
}

#trailer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    font-size: 2.5vw;
    background-color: #f2f2f2;
    opacity: 50%;
    width: 25%;
    left: 2%;
    bottom: 5%;
    z-index: 20;
    font-weight: bold;
    transition: transform 1s;
}

#trailer > i{
    margin-right: -75%;
}

.second-container{
    z-index: 3;
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 0;
}

.second-container-title{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 10%;
}

.second-content-container{
    display: flex;
    justify-content: center;
}

.second-container > div{
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-content{
    display: flex;
    justify-content: center;
    height: 100%;
    transition: transform 1s;
}

.second-content > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.second-content > div > img{
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(2px);
}

.second-content > div > div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-size:4.5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    width: 99%;
    height: 99%;
    background-color: rgba(242, 237, 227, 0.5);
    border: double 10px #947044;
}

.third-container{
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.third-container-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    font-size: 4vw;
    color: 	white;
    background-color: black;
    padding: 2.5%;
    font-weight: bold;
    transition: transform 0.2s;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);

}

.third-container > div > img{
    width: 100%;
    height: 100%;
    min-height: 65vw;
    z-index: 1;
    filter: blur(2px);
}

@media screen and (max-width: 768px){
    .slider-item > div{
        font-size: 3.5vw;
    }

    #trailer{
        font-size: 3.5vw;
        width: 35%;
    }

    .slider-icon-container{
        right: 2vw;
        bottom: -5.8vw;
    }

    .slider-icon{
        font-size: 20vw;
    }

    .slider-item > div > div > div{
        font-size: 3.1vw;
    }

    .second-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-container-title{
        font-size: 6vw;
    }

    .second-content:nth-child(1){
        margin-bottom: 8%;
    }

    .second-container{
        width: 100vw;
        height: auto;
    }

    .second-content{
        width: 90%;
        height: auto;
    }

    .second-content-container{
        flex-direction: column;
    }

    .second-content > div > div{
        font-size: 10vw;
    }

    .register{
        font-size: 7vw;
    }
}

@media screen and (orientation: portrait){
    .slider-item > img{
        height: 75vw;
    }
}

.second-content:hover{
    transform: translate(0, -2.5%);
}

#trailer:hover{
    opacity: 100%;
    transform: translate(0, -25%);
}

.register:hover{
    transform: scale(105%);
    color: white;
    box-shadow: 0 0 7px white;
}



