*{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

a{
    color: black;
}

body{
    width: 100vw;
    background-color: #F9F9F9;
    position: relative;
}

.first-container{
    display: flex;
    flex-direction: column;
}

.first-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    z-index: 3;
}

.slider-outer{
    width: 100vw;
    overflow: hidden;
}

.slider-inner{
    display: flex;
    position: relative;
}

.slider-item{
    display: flex;
    position: relative;
}

.slider-item > img{
    width: 100vw;
    min-height: 75vw;
    z-index: 1;
}

.slider-item > div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0 , 0, 0, 0.9) ,rgba(0, 0, 0, 0.9),  rgba(255, 0, 0, 0));
    z-index: 2;
    font-size: 2.5vw;
    color: #f2f2f2;
}

.slider-item > div > div{
    position: relative;
    width: 50%;
    height: 100%;
}

.slider-item > div > div > div{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: wrap;
}

#left-arrow{
    background-color: transparent;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 10%;
    height: 5vw;
    font-size: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    font-weight: bold;
    cursor: context-menu;
    color: #f2f2f2;
}

#right-arrow{
    background-color: transparent;
    position: absolute;
    right: 0;
    width: 10%;
    height: 5vw;
    font-size: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    cursor: context-menu;
    font-weight: bold;
    z-index: 10;
    color: #f2f2f2;
}

.slider-icon-container{
    text-align: center;
}

.slider-icon{
    font-size: 10vw;
    display: inline;
}

#trailer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    font-size: 2.5vw;
    background-color: #f2f2f2;
    opacity: 50%;
    width: 25%;
    left: 2%;
    bottom: 5%;
    z-index: 10;
    font-weight: bold;
    transition: transform 1s;
}

#trailer > i{
    margin-right: -75%;
}

.second-container{
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 5%;
}

.second-content{
    display: flex;
    width: 49%;
    height: 100%;
    position: relative;
    transition: transform 1s;
}

.second-content > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second-content > div > img{
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(2px);
}

.second-content > div > div{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 5;
    font-size: 7.5vw;
    color: #262626;
}

.third-container{
    width: 100vw;
    display: flex;
    position: relative;
}

.third-container > div{
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    font-size: 7.5vw;
    background-color: rgba(38, 38, 38, 0.3);
    color: 	#262626;
    padding: 2.5%;
    font-weight: bold;
    transition: transform 1s;

}

.third-container > div > img{
    width: 100%;
    height: 100%;
    min-height: 65vw;
    z-index: 1;
    filter: blur(2px);
}

@media screen and (max-width: 768px){
    .slider-item > div{
        font-size: 3.5vw;
    }

    #trailer{
        font-size: 3.5vw;
        width: 35%;
    }

    .slider-icon{
        font-size: 20vw;
    }

    .second-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-content:nth-child(1){
        margin-bottom: 2.5%;
    }

    .second-container{
        width: 100vw;
        height: auto;
    }

    .second-content{
        width: 90%;
        height: auto;
        font-size: 5vw;
    }

    .second-content > div > div{
        font-size: 12.5vw;
    }

    .register{
        font-size: 10vw;
    }
}

.second-content:hover{
    transform: translate(0, -2.5%);
}

#trailer:hover{
    opacity: 100%;
    transform: translate(0, -25%);
}

.register:hover{
    transform: translate(0, -5%);
    color: white;
    box-shadow: 10px 10px 5px white;
    background-color: rgba(0, 0, 0, 0.5);
}



