*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100vw;
    background-color: #F2EDE3;
}

/* MAIN */

.background-picture {
    background-image: url(../Asset/Register/Venti-Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}

.background-image img{
    position: inherit;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.register-form-container{
    background-color: rgba(242, 237, 227, 1);
    border-color: #947044;
    border-width: 1vw 0vw 1vw 0vw;
    border-style: double;
    margin: 8em 0;
    padding: 2em;
    width: 75%;
    font-size: 2.5vw;
}

.register-form-container h1{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

#register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.5em 0;
    height: 2em;
}

.form-row input{
    background-color: rgba(148, 112, 68, 0.35);
    font-size: 2.8vw;
    border-radius: 5px;
    padding: 1vh 0.5vw;
    border-color: transparent;
}

#error-message{
    height: auto;
}

.tnc-row{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
    margin: 0.8em 0;
}

#tnc-checkbox{
    height: 2vw;
    width: 2vw;
    margin-right: 3vw;  
}

#submit-button{
    cursor: pointer;
    width: auto;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: rgba(148, 112, 68);
    color: rgb(255, 255, 255, 0.9);
    border: 0px;
    border-radius: 5px;
    margin-top: 0.5em;
}

#error-message{
    text-align: center;
    margin: 0.5em 0;
    color: darkred;
}

@media screen and (max-width: 1024px){

    body{
        display: flex;
        flex-direction: column;
    }

    .register-form-container{
        width: 90%;
        font-size: 5vw;
    }

    .register-form-container h1{
        font-size: 8vw;
    }

    .form-row{
        flex-direction: column;
        align-items: flex-start;
        margin: 5vw 0;
    }

    .form-row input{
        width: 100%;
        font-size: 5vw;
    }

    .tnc-row{
        margin-top: 9vw;
    }

    #tnc-checkbox{
        width: 2em;
        height: 2em;
    }

    
}